rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read/write access only to drawings folder
    match /drawings/{allPaths=**} {
      allow read, write: if true;
    }
  }
}
